<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/NicoEym/rails-rendafixa"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/company/indosuez-wealth-management/"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="footer-copyright">
    <a href="https://brazil.ca-indosuez.com/">CA Indosuez Wealth (Brazil) S.A. Dtvm </a>
  </div>
</div>

