
  <div class="container">
    <ul>
    <% @debentures.each do |debenture| %>
      <li><%= link_to("#{debenture.code} - #{debenture.issuer.name} - #{debenture.issuer.sector.name}", debenture_path(debenture.id))  %></li>
    <% end %>
    </ul>
  </div>

